body{
    margin: 0px;
    padding: 0px;
}
nav{
    margin-left: 10%;
    margin-top: 10%;
    border:solid black 1px;
    float:left;
    width: 10%;
    position:fixed;
}
nav>ul {
    margin-left: 1%; 
    padding-left: 1%;

}
nav>ul>li {
    list-style-type: none;
    margin: 5%;
    padding: 5%;
}
main{
    margin-top: 10%;
    margin-right: 10%;
    border:solid black 1px;
    float:right;
    width: 60%; 
}